/* do not normalize css */
/* @tailwind base; */
@tailwind components;
@tailwind utilities;

html,
body,
#app {
    height: 100%;
    overflow: hidden;
}

#app {
    background-image: url("main_bg_image.jpg");
    background-position: center;
    background-size: cover;
}

textarea {
    border: 1px solid #7f9db9 !important;
}

.tg-link {
    background-image: url("tg_logo.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

button {
    @apply cursor-pointer;
}